if (hexo-config('code.theme.light') == 'panda-syntax-light')
  @require 'light/panda-syntax-light'
else if (hexo-config('code.theme.light') == 'solar-flare-light')
  @require 'light/solar-flare-light'
else
  @require 'light/solar-flare-light'

if (hexo-config('code.theme.dark') == 'tomorrow-night')
  @require 'dark/tomorrow-night'
else if (hexo-config('code.theme.dark') == 'panda-syntax-dark')
  @require 'dark/panda-syntax-dark'
else
  @require 'dark/tomorrow-night'

code-theme(mode)
  --highlight-background: mode == 'light' ? $highlight-background : $dark-highlight-background
  --highlight-foreground: mode == 'light' ? $highlight-foreground : $dark-highlight-foreground
  --highlight-comment: mode == 'light' ? $highlight-comment : $dark-highlight-comment
  --highlight-built-in: mode == 'light' ? $highlight-built-in : $dark-highlight-built-in
  --highlight-keyword: mode == 'light' ? $highlight-keyword : $dark-highlight-keyword
  --highlight-attr: mode == 'light' ? $highlight-attr : $dark-highlight-attr
  --highlight-section: mode == 'light' ? $highlight-section : $dark-highlight-section
  --highlight-bullet: mode == 'light' ? $highlight-bullet : $dark-highlight-bullet
  --highlight-title: mode == 'light' ? $highlight-title : $dark-highlight-title
  --highlight-tag: mode == 'light' ? $highlight-tag : $dark-highlight-tag
  --highlight-subst: mode == 'light' ? $highlight-subst : $dark-highlight-subst
  --highlight-strong: mode == 'light' ? $highlight-strong : $dark-highlight-strong
  --highlight-string: mode == 'light' ? $highlight-string : $dark-highlight-string
  --highlight-emphasis: mode == 'light' ? $highlight-emphasis : $dark-highlight-emphasis
  --highlight-meta: mode == 'light' ? $highlight-meta : $dark-highlight-meta
  --highlight-marked: mode == 'light' ? $highlight-marked : $dark-highlight-marked

:root
  code-theme($config-mode)

body[data-mode='light']
  code-theme('light')

body[data-mode='dark']
  code-theme('dark')
