-
  var pure_content = post.encrypt ? strip_html(post.origin) : strip_html(post.content);
  //- count only English words, numbers and Chinese characters 只统计中文字符、英文单词和数字
  var word_list = pure_content.match(/[\u4E00-\u9FA5]|[A-Za-z]+|[0-9]+/g) || [];
  //- console.log(word_list.toString())
  //- console.log(word_list.length);
  var word_num = "";
  if (word_list.length >= 10000) {
    word_num = (word_list.length / 10000).toFixed(1) + "W";
  } else if (word_list.length >= 100) {
    word_num = (word_list.length / 1000).toFixed(1) + "K";
  } else {
    word_num = word_list.length.toString();
  }

if theme.word_count.enable
  .post-word-count
    i.icon.fa-solid.fa-pen-to-square
    span= _p('article.word_count', (post.lang).startsWith('zh') ? word_num : word_list.length.toString())