@keyframes show-toc-slide {
  0% {
    opacity: 0
    transform: translateX(-10%)
    -webkit-transform: translateX(-10%)
  }
  100% {
    opacity: 1
    transform: translateX(0)
    -webkit-transform: translateX(0)
  }
}

@keyframes show-toc {
  0% {
    opacity: 0
    transform: translateY(-10%)
    -webkit-transform: translateY(-10%)
  }
  100% {
    opacity: 1
    transform: translateY(0)
    -webkit-transform: translateY(0)
  }
}

@keyframes show-menu {
  0% {
    opacity: 0
    transform: translateY(-10%)
    -webkit-transform: translateY(-10%)
  }
  100% {
    opacity: 1
    transform: translateY(0)
    -webkit-transform: translateY(0)
  }
}

@keyframes disable-menu {
  0% {
    opacity: 1
    transform: translateY(0)
    -webkit-transform: translateY(0)
  }
  100% {
    opacity: 0
    transform: translateY(-10%)
    -webkit-transform: translateY(-10%)
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 1
  }
  50% {
    opacity: 0.2
  }
}

@keyframes beat {
  0%, 100% {
    transform: scale(1)
    -webkit-transform: scale(1)
  }
  50% {
    transform: scale(1.2)
    -webkit-transform: scale(1.2)
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0)
    -webkit-transform: translateY(0)
  }
  25% {
    transform: translateY(-3px)
    -webkit-transform: translateY(-3px)
  }
  75% {
    transform: translateY(3px)
    -webkit-transform: translateY(3px)
  }
}

@keyframes showup {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
    -webkit-transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
  }
}

@keyframes title-run {
  0% {
    opacity: 0
    transform: translateY(-10%)
    -webkit-transform: translateY(-10%)
  }
  100% {
    opacity: 1
    transform: translateY(0)
    -webkit-transform: translateY(0)
  }
}

@keyframes to-left {
  0%, 100% {
    transform: translateX(0)
    -webkit-transform: translateX(0)
  }
  50% {
    transform: translateX(-30%)
    -webkit-transform: translateX(-30%)
  }
}

@keyframes to-right {
  0%, 100% {
    transform: translateX(0)
    -webkit-transform: translateX(0)
  }
  50% {
    transform: translateX(30%)
    -webkit-transform: translateX(30%)
  }
}

@keyframes swtich-to-darkmode {
  0% {
    background-color: #ffdf6a
  }
  100% {
    background-color: black
  }
}

@keyframes swtich-to-lightmode {
  0% {
    background-color: black
  }
  100% {
    background-color: #ffdf6a
  }
}

@keyframes scroll-text-horizontal {
  0% {
    transform: translateX(50%)
    -webkit-transform: translateX(50%)
  }
  100% {
    transform: translateX(-100%)
    -webkit-transform: translateX(-100%)
  }
}

@keyframes scroll-text-vertical {
  0% {
    transform: translateY(100%)
    -webkit-transform: translateY(100%)
  }
  100% {
    transform: translateY(-100%)
    -webkit-transform: translateY(-100%)
  }
}