.comment, .quote
    color: #a0a1a7

.doctag, .keyword, .formula
    color: #a626a4

.section, .name, .selector-tag, .deletion, .subst
    color: #e45649

.literal
    color: #0184bb

.string, .regexp, .addition, .attribute, .meta .string
    color: #50a14f

.attr, .variable, .template-variable, .type, .selector-class, .selector-attr, .selector-pseudo, .number
    color: #b37a00

.symbol, .bullet, .link, .meta, .selector-id, .title
    color: #4078f2

.built_in, .title.class_, .class .title
    color: #c98900

.strong
    font-weight: bold

.link
    text-decoration: underline