a
  color: orange-middle

a:hover
  color: orange-fresh

p
  line-height: 1.5em
  text-align: justify
  vertical-align: baseline

h1
  font-size: article-title1-font-size
  margin: 1em 0

h2
  font-size: article-title2-font-size
  margin: 0.9em 0

h3
  font-size: article-title3-font-size
  margin: 0.8em 0

h4
  font-size: article-title4-font-size
  margin: 0.7em 0

h5
  font-size: article-title5-font-size
  margin: 0.7em 0
  
h6
  font-size: article-title6-font-size
  margin: 0.6em 0

h1,h2,h3,h4,h5,h6
  font-weight: 1200

hr
  border: 1px solid transparent
  border-image: linear-gradient(to right, rgba(31, 18, 53, 0.1), rgba(31, 18, 53, 0.35), rgba(31, 18, 53, 0.1)) 1

blockquote
  margin: 16px 0
  padding: 6px 10px 6px 8px
  background-color: quote-background
  // border-radius: 10px
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1)
  border-left: 10px solid yellow-light

  p
    margin: 1em 5px
    line-height: 2em

ul
  padding-left: 1em
  line-height: 1.8em

ol
  padding-left: 1em
  line-height: 1.8em

table
  margin: 1.5em 0
  border-collapse: collapse;

th, td
  vertical-align: middle;
  padding: 5px 8px
  border: 1px solid border-grey

thead
  background-color: text-black-light
  color: white
  