$dark-highlight-foreground = #e6e6e6
$dark-highlight-background = #2a2c2d
$dark-highlight-comment = #bbb
$dark-highlight-built-in = #ffb86c
$dark-highlight-keyword = #ff75b5
$dark-highlight-attr = #ffb86c
$dark-highlight-section = #45a9f9
$dark-highlight-bullet = #ff4b82
$dark-highlight-title = #ffb86c
$dark-highlight-tag = #ffb86c
$dark-highlight-subst = #e6e6e6
$dark-highlight-strong = #ffb86c
$dark-highlight-string = #19f9d8
$dark-highlight-emphasis = #ffb86c
$dark-highlight-meta = #ff4b82
$dark-highlight-marked = #7a668d40