$dark-highlight-foreground = #ccc
$dark-highlight-background = #2d2d2d
$dark-highlight-comment = #999
$dark-highlight-built-in = #6cc
$dark-highlight-keyword = #c9c
$dark-highlight-attr = #f99157
$dark-highlight-section = #69c
$dark-highlight-bullet = #f2777a
$dark-highlight-title = #fc6
$dark-highlight-tag = #b4b7b4
$dark-highlight-subst = #ccc
$dark-highlight-strong = #fc6
$dark-highlight-string = #9c9
$dark-highlight-emphasis = #c9c
$dark-highlight-meta = #a3685a
$dark-highlight-marked = #8ea5dc45