doctype html

html(lang= config.language)
  head
    != partial('components/head')

  body(bg-style=is_home() && theme.banner.image.is_fixed ? 'fixed' : 'none')
    != partial('components/header')

    main
      != body

      if theme.toolbar.enable
        != partial('components/toolbar')
      
      if theme.search.enable
        != partial('components/search')

    footer
      != partial('components/footer')

    != partial('components/scripts')