$highlight-foreground = #2a2c2d
$highlight-background = #f8f8f8
$highlight-comment = #676b79
$highlight-built-in = #cc5e91
$highlight-keyword = #d92792
$highlight-attr = #7641bb
$highlight-section = #3787c7
$highlight-bullet = #c56200
$highlight-title = #7641bb
$highlight-tag = #667581
$highlight-subst = #586875
$highlight-strong = #0d7d6c
$highlight-string = #0d7d6c
$highlight-emphasis = #7641bb
$highlight-meta = #7641bb
$highlight-marked = #dbc3fb4d