$highlight-foreground = #586875
$highlight-background = #f8f8f8
$highlight-comment = #85939e
$highlight-built-in = #52cbb0
$highlight-keyword = #a363d5
$highlight-attr = #e66b2b
$highlight-section = #33b5e1
$highlight-bullet = #ef5253
$highlight-title = #e4b51c
$highlight-tag = #667581
$highlight-subst = #586875
$highlight-strong = #e4b51c
$highlight-string = #7cc844
$highlight-emphasis = #a363d5
$highlight-meta = #d73c9a
$highlight-marked = #efd78752