#home-banner
  width: 100%
  height: 100vh

#home-banner[bg-style='none']
  background: var(--banner-background)
  background-size: cover
  background-position: unquote(hexo-config('banner.image.position'))
  background-repeat: unquote(hexo-config('banner.image.repeat'))

#home-banner-info
  position: absolute
  top: calc(100% / 2 - 3.5rem)
  width: 100%
  padding: 0 2rem
  text-align: center
  line-height: 3rem
  color: var(--banner-font-color)
  font-family: var(--meow-font-title)

#home-banner-title
  font-size: 2.9rem
  font-weight: bold
  text-shadow: var(--meow-text-shadow-title)
  margin-bottom: .7rem

#home-banner-subtitle
  font-size: 1.55rem
  text-shadow: var(--meow-text-shadow)

#home-banner-scrolldown
  z-index: $z-index-7
  position: absolute
  bottom: .5rem
  width: 100%
  text-align: center
  text-shadow: var(--meow-text-shadow)
  .icon
    height: 1.85rem
    cursor: pointer
    padding: .5rem 1rem 0
    opacity: .75
    animation bounce 1.2s ease infinite