.hbe-button
  background: var(--theme-color) !important
  &:hover
    background: var(--theme-color-light-2) !important
    box-shadow: 0 0 0 3px var(--theme-color-transparent-1) !important
  
.hbe-input-label-default:before
  background: var(--background-color-grey-light-2) !important

.hbe-input-field-default
  color: var(--font-color-light-2) !important