@import '_style/_default/global-settings'

body.dm-dark
  background: black
  background-image: none
  color: darkmode-text
  transition: background 0.5s ease-out
  -moz-transition: background 0.5s ease-out
  -webkit-transition: background 0.5s ease-out
  -o-transition: background 0.5s ease-out

  .main-content
    background: background-dark-light
  
  a
    color: orange-low-saturation

    &:hover
      color: orange-middle
  
  h1,h2,h3,h4,h5,h6
    color: orange-low-saturation
  
  hr
    border-image: linear-gradient(to right, rgba(141, 141, 141, 0.1), rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.1)) 1
  
  details
    summary
      background-color: background-dark-lighter

    &[open]
      background-color: background-dark-lighter

      summary
        background-color: background-dark-light

  .blog-title
    color: orange-low-saturation
  
  .blog-desc
    color: darkmode-text
  
  .index-post-item
    border-image: linear-gradient(to right, rgba(141, 141, 141, 0.1), rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.1)) 1

    h1
      a
        color: orange-low-saturation

        &:hover
          color: orange-middle
    
    .read-more
      background-color: orange-dark

      &:hover
        background-color: orange-low-saturation

  .pagination
    a
      color: text-grey
  
  .footer-content
    color: text-grey-light
  
  .copyright-info a
    color: text-grey-light
  
    &:hover
      color: white
      background-color: text-grey-light
  
  #register_link
    color: text-grey-light
  
  #tool-bar-main, #tool-bar-more
    background-color: text-black-light
    border-color: background-dark-lighter

    div:hover
      color: orange-middle
  
  header
    background-color: background-dark

  .nav-info #nav-title
    color: orange-low-saturation

    &:hover
      color: orange-middle
  
  .top-menu-expanded
    .top-menu-item
      color: orange-low-saturation

      &:hover
        color: orange-middle
  
  #top-menu-hidden .menu-hidden-content
    background-color: background-dark-light

    .menu-hidden-item
      background-color: background-dark
      border-color: background-dark-lighter

  .search-container
    background-color: background-dark
  
  .search-head
    color: orange-low-saturation
  
  #search-result em
    color: orange-low-saturation
  
  .article-item a, .post-copyright a, .post-prev a, .post-next a
    color: text-grey-light
  
  .categories-item
    color: darkmode-text

    &:hover
      color: white
  
  .category-list a
    color: darkmode-text

    &:hover
      color: white
  
  .category-list-count
    background-color: background-dark-lighter
  
  .page-not-found a
    color: white
  
  .about-container h1
    border-image: linear-gradient(to right, rgba(141, 141, 141, 0.1), rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.1)) 1

  .about-keywords-tag
    background-color: background-dark-lighter
    box-shadow: none
  
  .contact-item
    a
      color: darkmode-text
    
    &:hover
      background-color: orange-low-saturation
  
  .links-item
    color: darkmode-text
    border-color: text-black-light

    .links-item-title
      background-color: background-dark-lighter
  
  .about-credits-list
    background-color: background-dark-lighter
  
  figure.highlight
    background-color: background-dark-lighter

    figcaption
      color: darkmode-text
      background-color: rgba(135, 135, 135, 0.5)
    
    ::-webkit-scrollbar-thumb
      background-color: background-dark-lighter
    
    @-moz-document url-prefix()
      scrollbar-color: background-dark-lighter transparent
  
  code
    background-color: background-dark-lighter
    color: darkmode-text
  
  #copyCodeBtn:hover
    color: darkmode-text
  
  blockquote
    color: text-black
  
  blockquote.light
    color: darkmode-text

  thead
    background-color: background-dark-lighter
    color: darkmode-text
  
  .reward-container
    background-color: background-dark
    border-color: background-dark-lighter
  
  *::-webkit-scrollbar-thumb
    background-color: background-dark-lighter

  *::-webkit-scrollbar-track
    background-color: background-dark-light

  // scrollbar for firefox
  @-moz-document url-prefix()
    *
      scrollbar-color: background-dark-lighter code-light
      scrollbar-width: thin
  
  #post-toc
    background-color: background-dark-light

    .toc-title
      color: text-grey-light
    
    a
      color: text-grey-light
    
    @media screen and (max-width: 1499px)
      .toc-aside
        background-color: rgba(78, 74, 85, 0.9)
  
  .fiction-meta
    background-color: background-dark-lighter
  
  .fiction-meta-item:hover
    background-color: background-dark
  
  .fiction-meta-key
    color: darkmode-text
  
  .fiction-before-content, .fiction-notes-after
    border-image: linear-gradient(to right, rgba(141, 141, 141, 0.1), rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.1)) 1

  .linkcard-item
    &:hover
      background-color: background-dark-lighter

    a
      color: darkmode-text

      &:hover
        color: darkmode-text
  .linkcard-item-icon
    color: darkmode-text