// @import url('https://fonts.googleapis.com/css2?family=Noto Sans SC&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto Serif&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto Serif SC&display=swap')

@import '_style/_default/*'
@import '_style/*'
@import '_style/_partial/*'
@import '_style/_partial/post/*'

// @import '_variables'
// @import '_partial/post/*'
// @import 'loading'
// @import 'layout'
// @import 'index'
// @import 'tags'
// @import 'category'
// @import 'about'
// @import 'search'