.article-item
  a.article-item-card(href= url_for(post.path))
    .article-item-title
      span= post.title

    .article-item-preview
      - let content = ""
      if post.excerpt
        - content= strip_html(post.excerpt)
      else if post.summary
        - content= strip_html(markdown(post.summary))
      else
        - content= strip_html(post.content)
      
      span= truncate(content, {length: 75})
    
    .article-item-hover
      span= date(post.date)
      i.fa-solid.fa-paw
