//- //- 上一页
//- .page-prev
//-   if page.prev > 0
//-     a(href= url_for(page.prev_link), title= __('pagination.prev'))
//-       i.icon-prev.fa-solid.fa-chevron-left
//-   else
//-     i#icon-prev-none.icon-prev.fa-solid.fa-chevron-left

//- //- 当前页数
//- .current-page
//-   span#current-page-num= page.current

//- //- 下一页
//- .page-next
//-   if page.next > 0
//-     a(href= url_for(page.next_link), title= __('pagination.next'))
//-       i.icon-next.fa-solid.fa-chevron-right
//-   else
//-     i#icon-next-none.icon-next.fa-solid.fa-chevron-right


| !{ paginator({prev_text: '<i class="icon-prev fa-solid fa-chevron-left"></i>', next_text: '<i class="icon-next fa-solid fa-chevron-right"></i>', escape: false, mid_size: 1, force_prev_next: true}) }