.index-posts
  margin: 0 auto
  width: 85%

  .index-post-item
    margin-top: 10px
    padding-bottom: 20px
    border-bottom: 1px solid transparent
    border-image: linear-gradient(to right, rgba(31, 18, 53, 0.1), rgba(31, 18, 53, 0.35), rgba(31, 18, 53, 0.1)) 1

    .post-title-index
      display: flex
      flex-flow: row nowrap
      align-items: baseline
      justify-content: space-between

      h1
        a
          text-decoration: none
          color: orange-middle

          &:hover
            color: orange-fresh
          
          i
            margin-right: 5px
      
      .post-top
        padding: 3px 12px
        border: 1px orange-middle dashed
        border-radius: 15px
        text-align: center
        color: orange-middle

        p
          margin: 0
          white-space: nowrap
    
    .post-head-info
      font-size: info-font-size
      color: text-grey-light
      // display: flex
      // flex-flow: row nowrap
      overflow: hidden
      white-space: nowrap
      
      div
        margin-top: 5px
        display: inline-block
    
    .read-more
      background-color: orange-low-saturation
      padding: 3px 10px
      border-radius: 20px
      display: inline-block
      text-align: center
      margin: 10px 0

      i
        margin-right: 3px
        color: white

      .read-more-link
        text-decoration: none
        color: white
        font-size: info-font-size

      &:hover
        background-color: yellow-normal
        box-shadow: 1.5px 1.5px 2px shadow-grey
    
    .post-tags
      font-size: info-font-size
      display: block
      white-space: nowrap
      overflow: hidden

.post-excerpt
  margin: 1em 0

.post-excerpt[excerpt-simplify=true]
  h1,h2,h3,h4,h5,h6
    font-size: default-font-size
    margin: 1em 0

@media screen and (max-width: 768px)
  .index-post-item
    h1
      font-size: article-title2-font-size
  .post-excerpt[excerpt-simplify=true]
    h1,h2,h3,h4,h5,h6
      font-size: default-font-size-smaller