.highlight
  margin: 10px auto
  padding: 3px 0 3px 5px
  background-color: code-light
  border-radius: 10px
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.125)
  font-size: code-font-size

  table
    border-spacing: 5px 10px
    line-height: 1.5em
    margin: 0
    border-collapse: separate;

    td
      padding: 0
      border: 0

    pre
      margin: 0
      white-space: pre-wrap
  
  .gutter
    color: text-grey-light
    font-size: code-line-number-font-size
    padding-right: 10px
    border-right: 1px solid text-grey-light
    font-family: code-font

  .line
    font-family: code-font
    padding-left: 5px

code
  background-color: code-normal
  border-radius: 8px
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
  // border: 0.5px solid rgba(0, 0, 0, 0.1)
  padding: 1px 8px
  margin: 0 2px
  font-size: code-font-size
  font-family: default-font-family
  color: green-normal // text-black-light
  line-height: 1.7em