.footer-content
  max-width: max-page-width
  width: 90%
  margin: 20px auto 10px
  text-align: center
  font-size: footer-font-size
  color: orange-dark

  i
    margin: 0 5px

    &:first-child
      margin-left: 0
  
.copyright-info
  a
    text-decoration: none
    color: orange-dark

    &:hover
      color: white
      background-color: orange-normal
      border-radius: 8px

.register-info
  font-size: register-font-size

#register_link
  text-decoration: none
  color: orange-dark

  &:hover
    text-decoration: underline

#busuanzi_container_site_uv
  margin-right: 0

#busuanzi_container_site_pv
  margin-right: 5px