.index-menu
  margin: 30px auto 40px
  display: flex
  align-items: center
  justify-content: space-evenly
  max-width: 70%
  height: 50px
  width: 90%

  .menu-item
    font-size: 18px
    text-decoration: none
    font-weight: bold
    text-align: center
    color: text-black
    width: 70px
    height: 40px
    border-bottom: 3px solid orange-fresh
    line-height: 40px

    &:hover
      color: orange-fresh
      border-bottom: 6px solid orange-fresh