.pagination
  margin: 30px auto 5px
  display: flex
  align-items: center
  justify-content: center
  font-size: pagination-font-size

  a
    color: text-black-light
    text-decoration: none

    &:hover
      color: orange-fresh

  .prev, .next
    color: text-black-light

    &:hover
      color: orange-fresh

    i
      color: border-grey
      margin: 0 10px

      &:hover
        color: orange-fresh

  .page-number
    margin: 0 5px

  .current
    border: 1px solid border-grey
    border-radius: 10px
    padding: 0.5px 10px
