.page-not-found
  margin: 0 auto
  display: flex
  align-items: center
  flex-flow: column

  h1, p
    // background: linear-gradient(to right, #8A2387, #E94057, #4BC0C8)
    // -webkit-background-clip: text
    // background-clip: text
    // -webkit-text-fill-color: transparent
    // color: transparent
    margin: 0 auto 8px
    color: orange-dark

  h1
    font-size: 5em

  p
    font-size: 20px
  
  a
    font-size: 18px
    text-decoration: none
    color: white
    background-color: orange-low-saturation
    padding: 3px 15px
    border-radius: 20px
    margin-top: 10px

    &:hover
      background-color: yellow-normal
