html
  // scrollbar for chrome
  *::-webkit-scrollbar
    width: 10px

  *::-webkit-scrollbar-thumb
    background-color: border-grey
    border-radius: 30px

  *::-webkit-scrollbar-thumb:hover
    background-color: yellow-normal

  *::-webkit-scrollbar-thumb:active
    background-color: orange-middle

  *::-webkit-scrollbar-track
    background-color: code-light

  // scrollbar for firefox
  @-moz-document url-prefix()
    *
      scrollbar-color: orange-normal code-light
      scrollbar-width: thin
  
  scroll-behavior: smooth

body
  if hexo-config('background.type') == 1
    background: url($root-path + site-background-image)
  else if hexo-config('background.type') == 3
    background: site-background-gradient
  else
    background: site-background-color
  transition: background 0.5s ease-out
  -moz-transition: background 0.5s ease-out
  -webkit-transition: background 0.5s ease-out
  -o-transition: background 0.5s ease-out
  margin: 0
  padding: 0
  font-size: default-font-size
  font-family: default-font-family
  color: text-black
  position: relative

  if(! hexo-config('selectable'))
    -webkit-user-select: none /* Safari */
    -ms-user-select: none /* IE 10+ and Edge */
    -moz-user-select: none  /* Firefox */
    user-select: none /* Standard syntax */

  .main
    max-width: max-page-width
    width: 95%
    margin: 0 auto

    .main-content
      background-color: #ffffff
      background-image: url($root-path + 'img/blog-background.png')
      border-radius: 20px
      margin: 0 auto
      padding: 20px 0 40px

@media screen and (max-width: 768px)
  body
    font-size: default-font-size-smaller