.tag-cloud
  margin: 20px auto
  display: flex
  justify-content: center
  flex-flow: row wrap
  align-items: baseline

  a
    margin: 5px 10px

    &:hover
      text-decoration: underline

.tag-list-container
  margin: 18px auto
  display: flex
  flex-flow: row wrap
  // justify-content: center
  align-items: baseline
  font-size: article-title4-font-size
  color: orange-low-saturation

  a
    margin: 5px 10px
    color: orange-low-saturation

    &:hover
      text-decoration: underline
      color: orange-fresh

.tag-count
  vertical-align: super
  font-size: superscript-font-size