@keyframes fade {
  0%, 100% {
    opacity: 1
  }
  50% {
    opacity: 0.3
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0)
    -webkit-transform: translateY(0)
  }
  25% {
    transform: translateY(-3px)
    -webkit-transform: translateY(-3px)
  }
  75% {
    transform: translateY(3px)
    -webkit-transform: translateY(3px)
  }
}