@require './color'

// $root = hexo-config('info.root')

// getUrl(path)
//   if match('^(http[s]*://)(.*)$', path)
//     path
//   else
//     $root + path

$banner-background = url-for(hexo-config('banner.image.light'))
$dark-banner-background = url-for(hexo-config('banner.image.dark'))

switch-mode(mode) {
  --theme-color: mode == 'light' ? $theme-color : $dark-theme-color
  --theme-color-light-1: mode == 'light' ? $theme-color-light-1 : $dark-theme-color-light-1
  --theme-color-transparent: mode == 'light' ? $theme-color-transparent : $dark-theme-color-transparent
  --background-color: mode == 'light' ? $background-color : $dark-background-color
  --background-color-transparent: mode == 'light' ? $background-color-transparent : $dark-background-color-transparent
  --background-color-grey: mode == 'light' ? $background-color-grey : $dark-background-color-grey
  --background-color-grey-transparent: mode == 'light' ? $background-color-grey-transparent : $dark-background-color-grey-transparent
  --font-color: mode == 'light' ? $font-color : $dark-font-color
  --font-color-invert: mode == 'light' ? $font-color-invert : $dark-font-color-invert
  --font-color-navbar: mode == 'light' ? $font-color-light-2 : $dark-font-color
  --link-hover-font-color: mode == 'light' ? $link-hover-font-color : $dark-link-hover-font-color
  --banner-background: mode == 'light' ? url($banner-background) : url($dark-banner-background)
  --banner-font-color: mode == 'light' ? unquote(hexo-config('banner.title_color.light')) : unquote(hexo-config('banner.title_color.dark'))
  --nav-background-color: mode == 'light' ? $nav-background-color : $dark-nav-background-color
}

$config-mode = hexo-config('color.mode.default') == 'light' ? 'light' : 'dark'

:root {
  switch-mode($config-mode)
}

body[data-mode='light'] {
  switch-mode('light')
}

body[data-mode='dark'] {
  switch-mode('dark')
}