// LIGHT MODE COLOR
$theme-color = convert(hexo-config('color.light.theme_color'))
$theme-color-light-1 = lighten($theme-color, 40%)
$theme-color-transparent = alpha($theme-color, .6)
$background-color = #fff
$background-color-transparent = alpha($background-color, .8)
$background-color-grey = #e8e8e8
$background-color-grey-light = lighten($background-color-grey, 20%)
$background-color-grey-transparent = alpha($background-color-grey, .25)
$font-color = #2d2d2d
$font-color-light-1 = lighten($font-color, 10%)
$font-color-light-2 = lighten($font-color, 20%)
$font-color-dark-1 = darken($font-color, 10%)
$font-color-dark-2 = darken($font-color, 30%)
$font-color-invert = #fff
$link-hover-font-color = #fff
$nav-background-color = #ffffff30

// DARK MODE COLOR
$dark-theme-color = convert(hexo-config('color.dark.theme_color'))
$dark-theme-color-light-1 = lighten($dark-theme-color, 40%)
$dark-theme-color-transparent = alpha($dark-theme-color, .6)
$dark-background-color = #2d2d2d
$dark-background-color-transparent = alpha($dark-background-color, .8)
$dark-background-color-grey = #767676
$dark-background-color-grey-light = lighten($dark-background-color-grey, 20%)
$dark-background-color-grey-transparent = alpha($dark-background-color-grey, .25)
$dark-font-color = #bebec6
$dark-font-color-light-1 = lighten($dark-font-color, 10%)
$dark-font-color-light-2 = lighten($dark-font-color, 20%)
$dark-font-color-dark-1 = darken($dark-font-color, 10%)
$dark-font-color-dark-2 = darken($dark-font-color, 30%)
$dark-font-color-invert = #fcfcfc
$dark-link-hover-font-color = #2d2d2d
$dark-nav-background-color = #90909060