.banner
  .banner-info
    if theme.banner.avatar.type
      .banner-avatar
        if theme.banner.avatar.type == "author"
          img(src=url_for(theme.info.avatar) alt='Avatar')
        else if theme.banner.avatar.type == "site"
          img(src=url_for(theme.info.logo) alt='Avatar')

    if theme.banner.title.enable
      .banner-title
        = theme.banner.title.text || config.title || "MEOW"