.pageview-site
  span#busuanzi_container_site_pv
    | #{ __('page_view.site_pv') } : 
    span#busuanzi_value_site_pv
      i.fa-solid.fa-spinner
  
  span#busuanzi_container_site_uv
    | #{ __('page_view.site_uv') } : 
    span#busuanzi_value_site_uv
      i.fa-solid.fa-spinner