.post-tags
  margin: 5px 0
  display: flex
  flex-flow: row wrap
  align-items: center
  
  .post-tag
    display: inline-block
    text-decoration: none
    color: text-grey-light
    margin-right: 5px
    padding: 0 5px

    &:hover
      color: orange-fresh